/*-
Morado: #6F1E51
Negro:#3d3d3d
Azul:#0652DD
Gris: #aaa69d
Rosa: #d500f9;
*/ 
html{
  font-family: 'Nunito', sans-serif;
}
a{
  text-decoration: none;
  color: #d500f9;
}
img{
  max-width: 100%;
}

a:hover{
  opacity: 0.5;
}
a:active{
  background-color: blue;
}

.title{
  text-transform: uppercase;
  text-align: center;
}
.container{
  background: #6F1E51;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content{
  max-width: 960px;
  width: 100%;
  height: 80vh;
  background-color: white;
  /* box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color;*/
  box-shadow: 0 3px 6pc rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 4px;
  position: relative;
  
  overflow: scroll;
  
}
.content{
  padding: 1em;
}

td{
  display: block;
  width: 100%;
}

td:nth-of-type(1){
  font-size: 1.5em;
  font-weight: bold;
  color:#642B73
}

th{
  display: none;
}
.actions{
  position: absolute;
  top: 1em;
  right: 1em;
}

.close{
  height: 40px;
  width: 40px;
  color: white;
  border-radius: 50%;
  background-color: #642B73;
  display: inline-block;
  box-shadow: 0 3px 6pc rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-weight: 300;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph{
  line-height: 1.8em;
  font-weight: 300;
}
.fa-star,.fa-star-O{
  color:#ffc400
}
.fa-sharp, .fa-light{
  color: white;
}
.table{
  width: 100%;
  border-spacing: 0;
}
.table td, .table th{
  padding: 1em;
  text-align: left;
}

.table tr:nth-child(even){background-color: #f3e5f5;}  /* si coloco even son los pares y odd son los pares */

#boton-pago{
  background-color: yellow;
}
td{
  border:solid 1px ;
}
.title-item{
  /* border-bottom-style: solid;
  border-width: 2px;
  border-color: #C6426E; */
  font-size: 2em;
  border-bottom: #C6426E solid 2px ;
  padding-bottom: 1em;
}
.address{
  font-weight: bold;
  color: #642B73; 
  font-size: 1.2em; 
  margin-top: 2em;
  display: inline-block;
}
.main-image{
  float: left;
  margin-right: 1em;
  height: 350px;
}

.position{
  background-color: #C6426E;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  margin-right: 0.5em;
} 

@media (min-width:900px) {
  th{
    display: table-cell;
  }
  td{
    width: auto;
    display: table-cell;
  }
  td:nth-of-type(1){
    font-size: 1em;
  }
  .content{
      padding: 1.8em;
    }
}

@media (min-height:600px){
  .content{
    height: 500px
  }
}
/* importante (especificidad, no jerarquia sino peso)
1 !important
2 Atributo style

selectores
1 selectores por ID
2 selectores de clase, atributos y pseudo clases
3 selectores de tipo y pseudo elementos*/

/*  position: static | relative (desde donde se encuentra, modifica la posicion del elemento) | absolute( se acomododa de acuerdo al padre, el cambio mas grande se da cuando existe otro elemento)
 | fixed (no impoorta donde esta el elemento,se coloca relativo a la pantalla) | stick 

top, bottom, left y right */